html, body{ 
  display: flex;
  min-height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  flex-direction: column;
}

a{
  outline: none;
}


main{
  flex: 1 0 auto;
}

#map{
  height: 90vh;
  width: 100%;
}

.logo{
  height: 40px;
  width: auto !important;
  margin-left: 15px;
  margin-top: 10px !important;
}

.slides{
  height: 90vh !important;
  display: block !important;
}

/* collors */
.purple{
  background-color: rgb(113, 110, 140) !important; 
}

.darker-purple{
  background-color: #392B58 !important;
}

.transparent{
  background-color: transparent !important;
}


/* text */
.font-montserrat{
  font-family: 'Montserrat', sans-serif !important;
}

.purple-text{
  color: #AC79B2 !important;
}

.red-text{
  color: #DC6E53 !important;
}

.uc{
  text-transform: uppercase;
}

.size10{
  font-size: 10px !important;
}

.size12{
  font-size: 12px !important;
}

.size15{
  font-size: 15px !important;
}

.size16{
  font-size: 16.5px !important;
}

.size18{
  font-size: 18px !important;
}

.size25{
  font-size: 25px !important;
}

.size30{
  font-size: 30px !important;
}

.size35{
  font-size: 35px !important;
}

.size50{
  font-size:50px !important;
}

.bold{
  font-weight: bold;
}

.text{
  word-wrap: break-word;
}

.justify{
  text-align: justify;
}

.center{
  text-align: center !important;
}

.text-indent{
  text-indent: 10px;
}



/* animations */
.white-hover{
  /*empty*/
}

.white-hover:hover{
  background-color: white !important;
}

.purple-hover{
  /*empty*/
}

.purple-hover:hover{
  color: rgb(113, 110, 140) !important;
  background-color: transparent !important;
  /*border-bottom: solid rgb(113, 110, 140);*/
}

.slides{
  height: 100vh !important;
  display:none;
}

.w3-left, .w3-right, .w3-badge{
  cursor:pointer;
}

.w3-badge{
  height:13px;
  width:13px;
  padding:0;
}

/* Dimensões */
.h130{
  height: 130px !important;
}

.hfull{
 height: 100% !important;
}

.h100{
  height: 100px !important;
}

.h40{
  height: 40px !important;
}

.hlarge{
  height: 6rem;
}

.w20{
  width: 20% !important;
}

.w100{
  width: 100% !important;
}
/* Fim Dimensões */

.overhide{
  overflow: hidden;
}

.scroll-x{
   overflow-x: scroll;
}

.scroll-y{
   overflow-y: scroll;
}

.radius{
  border-radius: 10%;
}

a{
  transition: all 0.2s;
}

.a:hover{
  text-decoration: underline;
}

.top{
    margin-top: 25%;
}

.mt-1{
  margin-top: 1%;
}

.mt-3{
  margin-top: 3%;
}

.mt-5{
  margin-top: 5%;
}

.mt-10{
  margin-top: 10%;
}

.mt-10px{
  margin-top: 10px;
}

/* @media only screen and (max-width: 989px){
  nav ul, nav ul li{
    float: none !important;
    display: inline-block;
  }
} */

@media only screen and (max-width: 569px){
  #msgs{
   margin-top: 5vh !important;
  }
  .card-image img{
    height: 100px !important;
    min-width: 50% !important;
    width: auto !important;
  }
}

@media only screen and (min-width: 570px) and (max-width: 989px){

  .card-image img{
    height: 150px !important;
    min-width: 50% !important;
    width: auto !important;
  }

  .msg-fixed{
    background-color: #030C12 !important;
  }
}

@media only screen and (min-width: 990px){
  .msg-fixed{
    background-color: #030C12 !important
  }

  main{
    min-height: 100vh;
  }

  .logo{
    width: 130px;
    margin-top: 1%;
  }

  footer{
    margin-top: 0 !important;
  }

  .padding-5{
    padding: 5% !important;
  }

  .card-image img{
    height: 200px !important;
    min-width: 50% !important;
    width: auto !important;
  }

  .a{
    background-color:#BA965C;
    transition: all linear;
    padding-top: 3px !important;
  }

  .a:hover{
    background-color: #BE9D69 !important;
  } 
}

.icons{
  color: #bdbdbd;
}

.box{
    border-bottom: 1px solid;
    border-color: #575757;
}

.input-box{
  border-radius: 5px;
  background-color: white;
  color:  white;
  border: 1px solid;
  border-color: white;
  height: 40px;
  margin-top: 10px;
}

.input-box i{
  width: 2rem !important;
  color: white;
}

::-webkit-input-placeholder {
   color:  #575757 !important;
}

:-moz-placeholder { /* Firefox 18- */
   color:  #575757 !important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color:  #575757 !important;  
}

:-ms-input-placeholder {  
   color:  #575757 !important;  
}

.input-bottom{
  color:  white;
  height: 30px !important;
  margin-top: 12px !important;
  border-bottom: 1px solid white;
}

.input-black{
  border-color: #575757 !important;
  color: #575757 !important;
}

.input{
  text-indent: 10px !important;
  margin-top: -5px !important;
  border: none !important;
}

.input-field button{
  margin-right: -10px !important; 
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 500000000000s ease-in-out 0s !important;
    -webkit-text-fill-color: black !important;
}

.select{
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
}

.select option{
  background-color: white;
}

.filled-in + label:after{
     border: 2px solid white !important;
     background-color: #67C295 !important;
}

.side-menu{
  margin-bottom: 0 !important;
}

.textarea{
  resize: none;
  overflow: hidden;
  border: none;
  outline: none;
  height: 200px;
}

   /* label focus color */
   .input-field input:focus + label {
     color: black !important;
   }
   /* label underline focus color */
   .input-field input:focus {
     border-bottom: none !important;
     box-shadow: none !important;
     color: black !important;
   }
   /* valid color */
  .input-field input.valid {
     border-bottom: 1px solid  #9E9E9E !important;
     box-shadow: 0 1px 0 0  #9E9E9E !important;
   } 




      /* label focus color */
   .clear textarea:focus + label {
      display: none !important;
   }
   .clear textarea{
     border-bottom: none !important;
     box-shadow: none !important;
   }
   /* label underline focus color */
   .clear textarea:focus {
     border-bottom: none !important;
     box-shadow: none !important;
   }
   /* valid color */
  .clear textarea.valid {
     border-bottom: none !important;
     box-shadow: none !important;
   } 

    .clear textarea.invalid {
     border-bottom: none !important;
     box-shadow: none!important;
   }

    .clear input:focus + label {
     color: #9E9E9E !important;
   }
   .clear input{
     border-bottom: none !important;
     box-shadow: none !important;
   }
   /* label underline focus color */
   .clear input:focus {
     border-bottom: none !important;
     box-shadow: none!important;
     color: #BA965C !important;
   }
   /* valid color */
  .clear input.valid {
     border-bottom: none !important;
     box-shadow: none !important;
   } 

  .clear input.invalid {
     border-bottom: none !important;
     box-shadow: none!important;
   }

.main-button{
  border-radius: 5px;
  color:  white;
  height: 40px !important;
  margin-top: 10px !important;
}

.button{
  height: 30px;
  padding: 5px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 0 0 !important;
  transition: all 0.2s;
}

.btn-floating{
  z-index: 0 !important;
}

.redondo-5{
  border-radius: 10px !important;
}

.redondo-3{
  border-radius: 3% !important;
}

.padding-lr{
  padding: 0 5% 0 5% !important;
}

.padding-3{
  padding: 3% 3% 3% 3% !important;
}

.br{
  margin-bottom: 2% !important;
}

.hide{
  display: none !important;
}

.profile-wrapper{
  height: 90px !important;
  width: 90px !important;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.profile{
  height: 50px !important;
  font-size:  50px !important;
}

.profile-icon{
  font-size:  70px !important;
  margin-left: -10px !important;
  margin-top: -5px !important;
}

.profile-mobile{
  font-size:  80px !important;
  margin-top: 10px;
}

.profile-input{
  height: 100px !important;
  width: 100px !important;
  margin: 25px 0 0 25px !important;
}

.user{
  height: 50px !important;
  width: 50px !important;
}

.user-msg{
  margin-top: 0px !important;
  margin-left: 13px;
  margin-right: 5px;
  height: 40px !important;
  width: 40px !important;
}

.user-L{
  margin-top: -20px !important;
}

.chart{
  height: 5px;
  border: none;
}

.headertext{
  -webkit-transform:translateX(125%);
  transform:translateX(125%);
}

.fixed{
  position: fixed;
  top: 0;
  width: 100%;
}

.texto-branco{
  color: white !important;
}

.my-side-nav{
  position: fixed;
  width: 220px;
  right: 0;
  height: 100%;
  transition: all 0.3s;
  transform: translateX(220px);
  z-index: 1;
}

.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity 1s;
  background-color: rgba(0,0,0,0.87);
  z-index: 0;
  opacity: 1;

}

.my-side-nav li .profile-wrapper{
  margin-top: 25px;
  height: 75px !important;
  width: 75px !important;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.ng-img{
  max-height: 200px;
  width: auto;
}

.remove{
  position: absolute;
  z-index: 999;
}

.cursor{
  cursor: pointer;
}

.msg{
  position: relative;
}

#msgs{
  margin-bottom: 10vh !important;
}

.msg-r{
  position: relative;
}

.msg-fixed{
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 1px solid #030C12 !important;
}

.msg-r:after{
  border: 10px solid transparent;
  border-left-color: white;
  content: "";
  top: 10px;
  right: -20px;
  position: absolute;
}

.msg:before {
  border: 10px solid transparent;
  border-right-color: white;
  content: "";
  top: 10px;
  left: -20px;
  position: absolute;
}

.section{
  width: 100%;
}

.banner{
  background-size: cover;
  background-repeat: no-repeat;
}

.title{
  font-size: 40px;
  font-weight: lighter;
}

.text{
  max-height: 200px;
  word-wrap: break-word;
}

.texto-sobre{
  line-height: 22px !important;
}

.index-text{
  min-height: 20vh;
  max-height: 40vh;
}


.colchete_L{
  background-image: url('../img/detalhe/colchete_L.png');
  background-repeat: no-repeat;
  background-size: auto 100%; 
  background-position: left;
  padding: 2% 0 2% 6% !important;
}

.colchete_L span{
  margin-top: 0px;
}

.square-text{  
  font-size: 15px;
  font-weight: lighter;
  padding: 5% !important;
}

.login{
  height: 100vh;
}

.cadastro{
  min-height: 100vh;
  padding: 0 !important;
}

@media only screen and (min-width: 990px){
  .login{
    background-image: url('../img/background/background3.png'); 
    background-size: cover;
  }

  .cadastro{
    background-image: url('../img/background/background4.png'); 
    background-size: cover;
  }
}

.round {
    background-color: rgba(255, 255, 255, 0.18);
    padding: 13px!important;
    height: 50px !important;
    width: 50px !important;
    border-radius: 50%;
    margin-right: -30px !important;
}

blockquote{
  border-left: 5px solid #BA965C;
}

.hover-bege{
  color: #BA965C !important;
  transition: all 0.2s;
}

.hover-bege:hover{
  color: white !important;
}

.dropdown-content{
  min-width: 200px;
  margin-left: 312312px;
}

.dropdown-content li:hover{
  background-color: black !important;
}

.caret{
  display: none !important;
}

.select-dropdown{
  color: #575757 !important;
}

.select-dropdown.dropdown-content{
  background-color: black !important;
}
.select-dropdown.dropdown-content li span:hover{
  color:  white !important;
}

.select-dropdown.dropdown-content li span{
  /* background-color: #575757 !important; */
  color:  #BA965C !important;
}

.optgroup span{
  color: #575757 !important;
}

#toast-container{
  top: auto !important;
  left: auto !important;
  bottom: 7%;
  right: 5%;
}

.modal-foot{
  height: 200px !important;
  margin-top: 10%;
}

.home-content{
  margin-top: 100vh;
}

@keyframes bounce{
    0%{
      transform: translateY(-2vh);
    }50%{
      transform: translateY(0);
    }100%{
      transform: translateY(-2vh);
    }
}

.down-indicator{
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.color-inherit{
  color: inherit !important;
}